.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  height: 70px;
  border-bottom: 3px;
  border-bottom-style: solid ;
  border-bottom-color: rgb(220, 216, 216);
  padding-left: 10px;
  position: relative;
  z-index: 9;
  background-color:rgb(243, 241, 241);
}

li{
  list-style: none;
}

a{
  text-decoration: none;
  color: rgb(0, 0, 0);  
}

.navbarLink{
  font-weight:bold;
  font-size: 20px;
  text-align: center;
  min-height: inherit;
  font-size: large;
  margin: 0;
  max-height:min-content;
  display: flex;
  align-items: center;
  margin-right: 30px;
}


.container{
  margin: 0;
}


#logo{
  font-size: 50px;
}


.centralContainer{
  display: flex;
  justify-content: space-between;
  width:350px;
  align-items: center;
}

body{
  margin: 0;
  background-color:rgb(243, 241, 241);
  overflow-x: hidden;
}

a:hover{
  color: rgb(35, 117, 10);
}

.HomepageContainer{
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay, .overlay2{
  position: absolute;
  z-index: -1;
  height: 100vh;
  width: 100vw;
  transition: filter 0.5s ease;
}

.overlay.active{
  backdrop-filter: blur(4px);
  z-index: 7;
}

.overlay2.active{
  backdrop-filter: blur(4px);
  z-index: 5;
}

.HomepageBox{
  border-style: solid;
  border-color: rgb(220, 216, 216);
  box-shadow: 0px 10px 15px rgb(220, 216, 216);
  border-radius: 50px;
  padding-top: 150px;
  padding-bottom: 150px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 50px;
  width: 1000px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: end;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position-y: 50%;
  background-position-x: -40px;
}

.HomepageBoxOtp{
  border-style: solid;
  border-color: rgb(220, 216, 216);
  box-shadow: 0px 10px 15px rgb(220, 216, 216);
  padding-top: 150px;
  padding-bottom: 150px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 50px;
  border-radius: 50px;
  width: 1000px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  background-size: 70%;
  background-repeat: no-repeat;
  background-position-y: 20%;
  background-position-x: 50%;
}

.titleOtp{
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 1px;
}

.title{
  font-family: 'Poppins', sans-serif;
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 1px;
}

.subtitle{
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #555;
}

.icon{
  position: absolute;
  z-index: 0;
  padding: 10px;
  padding-top: 12px;
}

.HomepageText{
  width:400px;
}



.HomepageForm{
  padding-top: 10px;
  width: 400px;

}

#prevButton{
  float: left;
  padding: 5px;
  border-color: black;
  border-width: 1px;
  border-radius: 50px;
  background-color: rgba(251, 220, 192, 0.996);
}

#nextButton{
  float: right;
  padding: 5px;
  border-color: black;
  border-width: 1px;
  border-radius: 50px;
  background-color: rgba(251, 220, 192, 0.996)
}


.formSpace{
  border-radius: 50px;
  padding: 10px;
  margin: 5px;
  margin-left: 0;
  width:370px;
  border-color: black;
  border-width: 1px;
  outline: none;
  padding-left: 30px;
  height: 10px;
  
}

#description{
  overflow: hidden;
  height: 50px;
  border-radius: 10px;
  resize:none;
}

textarea,
input[type=text] {
    font-family:Arial;
}

#formSpaceLogin{
  width: 360px;
}

.formSpace:focus,
.otpInput:focus{
  border-color: #6505ed;
  box-shadow: 0 0 10px rgba(98, 0, 234, 0.7);
  outline: none;
}

.submitButton{
  margin: 5px;
  border-radius: 50px;  
  padding: 10px;
  width: 412px;
  font-weight: bold;
  font-size: medium;
  line-height: 10px;
  margin-left: 0;
  cursor: pointer;
  padding-right: 0;
  margin-right: 0;
  padding: 10px;
  margin: 5px;
  margin-left: 0;
  width:412px;
  border-color: black;
  border-width: 1px;
}

#submitButtonLogin{
  width: 402px;
}

footer{
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
}

#login{
  border-style: solid;
  border-width: 1px;
  padding: 5px;
  color: white;
  margin-right: 10px;
  background-color: forestgreen;
}

.loginPage{
  position: absolute;
  border-style: solid;
  height: 100vh;
  top:0;
  right: -460px;
  background-color: rgb(252, 220, 193);
  border-right: 0;
  z-index: 7;
  transition: right 0.5s ease;
  border-color: rgb(220, 216, 216);
  width: 413px;
}

.loginSubPage{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  top: 10%;
  position: relative;
}

.loginPage.open{
  right: 0;
  filter: none;
}

#personCircle{
  width: 200px;
  height: 150px;
}

#closeButton{
  position: relative;
  top: 8%;
  font-size: 40px;
  margin-left: 10px;
  background-color: transparent;
  border-style: none;
  cursor: pointer;
  color: black;
}

#loginImage{
  width: 300px;
}

#loginInput{
  width: 400px;
}

.otpText{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.otpInput{
  width: 25px;
  height: 25px;
  border-radius: 5px;
  margin: 2px;
  text-align: center;
  border-color: black;
  border-width: 1px;
}

.textContainerOtp{
  display: flex;
  align-items: center;
  justify-content: center;
}

.cardContainer{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  row-gap: 50px;
  margin-top: 60px;
}

.cardSlot{
  width: 300px;
  margin: auto;
}

.cardImageSlot{
  width: 315px;
  height: 200px;
  overflow: hidden;
}

.cardImage{
  width: 315px;
  border-radius: 10px;
  height: 200px;
  object-fit: cover;
  object-position: center top;
}


.cardTitle h3{
  word-wrap: break-word;
  height: 50px;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 0;

  font-weight: normal;
  margin-top: 5px;
}

.cardPrice{
  font-weight: bold;
  font-size: large;
}

.cardPrice p {
  margin-bottom: 0;
}


.cardTitle:hover h3{
  text-decoration: underline;
  color: black;
}

.cardAuthor p{
  margin-bottom: 0;
}

.cardAuthor b, .adUser b{
  display:inline-block;
  vertical-align: top;
  max-width: 200px;
  overflow:hidden;
  white-space: nowrap;
  height: max-content;
}

.cardpageDetailsContainer{
  display: flex;
  margin-left: 20px;
  width: 100%;
}

.cardpageDetailsText{
  width: 100%;
  word-wrap:break-word;
}

.asideBox{
  position: fixed;
  display: flex;
  align-items: center;
  text-align: start;
  justify-content: start;
  flex-direction: column;
   border-style: solid;
  border-color: rgb(220, 216, 216);
  box-shadow: 0px 10px 15px rgb(220, 216, 216);
  border-radius: 50px;
  font-size:large;
  padding: 70px;
}

.asideBox p{
  margin:0;
  margin-bottom: 10px;
}

.firstColumn{
  width: 60%;
}

.secondColumn{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 700px;

}

.buttonInfoCard{
  background-color: black;
  color: white;
  height: 40px;
  cursor: pointer;
  width: 300px;
  margin-top: 50px;
}




#asideBoxProfile{
  position: static;
}

#PresentationGigs{
  margin-left: 20px;
}

#PresentationGigs h2{
  margin-bottom: 0; 
}

.cardProfilePage{
  margin-top: -40px;
  margin-left: -10px;
}

.iconButton{
  position: relative;
  left: 30px;
  top: 5px;
  color: white;
}

.imageContainer{
  width: 600px;
  max-height: 350px;
  overflow: hidden;
}

.imageContainer img{
  width: 600px;
  height: auto;
}


#cityInput{
  width:412px;
}

.filterContainer{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: -5;
  right:-5000px;
}

.filterSubContainer{
  margin-top: -150px;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-style: solid;
  border-color: rgb(220, 216, 216);
  box-shadow: 0px 10px 15px rgb(220, 216, 216);
  height: auto;
  padding: 200px;
  border-radius: 50px;
  background-color:rgb(243, 241, 241);
  height: auto;
}

.filterContainer.active{
  z-index: 6;
  right:initial;
  
}

#buttonFilter{
  width: 100px;
  height: 50px;
  position: absolute;
  left: 45px;
  top:80px;
  z-index: 7;
  display: flex;
  align-items: center;
  font-size: large;
  justify-content: center;
  border-radius: 50px;
  border-style: solid;
  border-color: rgb(220, 216, 216);
  background-color: white;
  box-shadow: 0;
};



/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  right: 0;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

.dropdown{
  height: 100%;
  width: 80px;
}

#loginbtn{
  border-style: solid;
  border-width: 1px;
  padding: 5px;
  border: none;
  font-size: 30px;
  text-align: center;
  height: 100%;
  width: 100%;
}



.suggestions{
  position: absolute;
  background-color: white;
  z-index:2;
  width: 400px;
  max-height: 200px;
  overflow: scroll;
}

.singleSuggestion{
  border-top: gray 1px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: black solid 1px;
  cursor: pointer;
}

.containerPage{
  position: absolute;
  width: 100vw;
  z-index: 6;
}

.containerProfile{
  width: 50%;
  border-style: solid;
  border-color: rgb(220, 216, 216);
  box-shadow: 0px 10px 15px rgb(220, 216, 216);
  border-radius: 50px;
  padding: 50px 200px 100px ;
  background-color: white;
  height: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

.containerProfile form{
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 100px;
  width: auto;
}

.containerProfile h1{
  text-align: center;
}

.containerProfile h3{
  margin-bottom: 0;
  margin-top: 0;
}

.containerProfile.containerProfile input, .containerProfile button{
  padding: 10px;
}

.flexContainer{
  display: flex;
  align-items: center;
  justify-content: center;
}

#deleteButton{
  background-color: rgb(200, 12, 5);
  color: white;
  font-weight: bold;
}

.formDetails{
  width: 100%;
}

#fileInput{
  padding-left: 0;
}

.containerTitleProfile{
  display: flex;
  flex-direction: column;
}

.containerTitleProfile button{
  height: 50px;
  width: 200px;
  border-radius: 50px;
  border-style: solid;
  border-color: rgb(220, 216, 216);
  background-color: white;
  margin-bottom: 20px;
}

.error-message{
  color: red;
  margin-top: 0;
  margin-bottom: 0;
}

input[type=file]::file-selector-button {
  margin-right: 20px;
  border: none;
  background: #084cdf;
  padding: 10px 20px;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
}

input[type=file]::file-selector-button:hover {
  background: #0d45a5;
}



.fileFormSpace{
  border-radius: 20px;
  margin: 5px;
  margin-left: 0;
  height: auto;
  background-color: white;
  border: black solid 1px;
  width: 100%;
}

#fileFormSpaceGigs{
  width:409px;
}

#biografy{
  height: 50px;
  resize: none;
  padding-left: 0;
}

.biografiaProfilo{
  width: 100%;
  word-wrap:break-word;
  max-height: 100px;
  overflow: hidden;
}

.convenienceStars{
  display: "inline-block";
}

.convenienceStars span{
  border-radius: "20px";
  font-weight: "bold";
  font-size: "0.9rem";
}